.NavigationItems {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
@media (min-width: 499px) {
  .NavigationItems {
    flex-direction: row;
    align-items: center;
  }
}
