.Signup {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
}

.Row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.Label {
  padding: 10px 0px;
}

.Input {
  outline: none;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
}
.Buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.Button {
  border: 1px solid lightgray;
  margin-right: 20px;
  padding: 10px;
  display: block;
  outline: none;
  width: 80px;
  font-size: 16px;
}
