.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgb(252, 77, 6);
  align-items: center;
  padding: 0 20px;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
