.Toolbar {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 16px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  align-items: center;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
