.NavigationItem a {
  display: inline-block;
  border: 1px solid #444;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 15.8px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  margin-right: 16px;
  font-weight: 400;
  color: #444;
  line-height: 20px;
}

.NavigationItem a {
  text-decoration: none;
}

.NavigationItem a:hover {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.active {
  background-color: aqua;
  color: red;
}
