.BackDrop {
  position: fixed;
  z-index: 200;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

.SideBar {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Separator {
  margin-top: 65px;
  margin-bottom: 40px;

  height: 2px;
  width: 98%;
  background: rgba(0, 0, 0, 0.1);
}
